<%= render 'shared/notifications'%>

<div class="container mt-4 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="feed p-2">
                <%= render 'text_post'%>
                <%= render 'text_post'%>
                <%= render 'text_post'%>
                <%= render 'text_post'%>
                <%= render 'text_post'%>
                <%= render 'text_post'%>
            </div>
        </div>
    </div>
</div>